<div class="card-body">
    <div class="row">
        <div class="col">
            <a href="{{ path('task_create') }}" class="btn btn-success mt-2 mx-1">Nouvelle tâche</a>
            <a href="{{ path('task_list') }}" class="btn btn-info mt-2 mx-1">Toutes les tâches</a>
            <a href="{{ path('task_todo') }}" class="btn btn-warning mt-2 mx-1">Tâches à faire</a>
            <a href="{{ path('task_done') }}" class="btn btn-secondary mt-2 mx-1">Tâches terminées</a>
        </div>
    </div>
</div>
